/** Layouts */
.grape--layout-2-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media (min-width: 640px) {
    .grape--layout-2-columns {
        grid-template-columns: 1fr 1fr;
    }
}