@import "tailwindcss";
@config "../tailwind.config.js";

body {
    color: #4c4c4c;
}

.btn {
    display: inline-flex;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 6px;
    white-space: nowrap;
    height: 2rem;
    align-items: center;
    cursor: pointer;
    text-transform: none;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #d8d8d8;
}

.btn:active {
    transform: scale(0.98);
}

.btn.active {
    color: white;
    background-color: #0072F4;
}

.btn-2 {
    display: inline-flex;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: var(--radius-sm);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-2:hover {
    background-color: #d8d8d8;
}

.btn-2:active {
    transform: scale(0.98);
}

.btn-2.active {
    color: #4c4c4c;
    background-color: white;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.btn.btn-default,
.btn-2.btn-default {
    background-color: #F2F2F2;
    width: auto;
}

.droppable.with-border {
    transition: border-color 0.2s ease, margin 0.2s ease !important;
    border: 2px dashed #ddd !important;
    padding: 10px !important;
}

.droppable.drop-target-highlight {
    outline: 2px dashed limegreen !important;
    outline-offset: -2px !important;
}

.droppable.drag-margin {
    margin: 10px !important;
}

#drop-line {
    position: absolute;
    height: 2px;
    background: limegreen;
    pointer-events: none;
    z-index: 9999;
    display: none;
    transition: all 0.08s ease-in-out;
}
